.dynamic-field {
  display: block;
  margin-bottom: 16px;

  &__form-field {
    width: 100%;
  }

  &__label {
    font-weight: 500;
    color: rgba(0, 0, 0, 0.87);
  }

  &__input,
  &__textarea,
  &__select {
    font-size: 14px;
  }

  &__error {
    font-size: 12px;
    margin-top: 4px;
  }

  &__checkbox-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 48px;
  }

  &__checkbox {
    font-size: 14px;
  }

  &__checkbox-error {
    font-size: 12px;
    color: #f44336;
    margin-top: 4px;
    margin-left: 32px;
  }

  &__option {
    font-size: 14px;
  }

  &__datepicker-toggle {
    color: rgba(0, 0, 0, 0.54);
  }
}
